<div>
	<div class="box-header">
		<h3 class="box-title">Responsive Hover Table</h3>
		<div class="box-tools">
			<div class="input-group input-group-sm search">
				<input type="text" name="table_search"
					class="form-control pull-right" placeholder="Search">

				<div class="input-group input-group-sm input-group-btn">
					<button type="submit" class="btn btn-default">
						<i class="fa fa-search"></i>
					</button>
				</div>
            </div>
		</div>
	</div>
    <div class="btn-createnewgood">
        <button type="submit" class="btn btn-info" ng-click="createNewGoods()">Create</button>
    </div>
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Code</th>
				<th>Type</th>
				<th>Unit</th>
				<th>Quantity</th>
				<th>Description</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>183</td>
				<td>
					<!--<select ng-model="selectedName" ng-options="x.typeName for x in nameItems"/>-->
				</td>
				<td>
					<!--<select ng-model="selected" ng-options="x.code for x in nameItems"/>-->
				</td>
				<td>Clothes</td>
				<td>Cai</td>
				<td>10</td>
				<td>
					<!--<select ng-model="selected" ng-options="x.decription for x in nameItems"/>-->
				</td>
				<td><span class="label label-success">Approved</span></td>
			</tr>
			<tr>
				<td>183</td>
				<td>Shirt</td>
				<td>S01</td>
				<td>Clothes</td>
				<td>Cai</td>
				<td>10</td>
				<td>Description</td>
				<td><span class="label label-success">Approved</span></td>
			</tr>
			<tr>
				<td>183</td>
				<td>Shirt</td>
				<td>S01</td>
				<td>Clothes</td>
				<td>Cai</td>
				<td>10</td>
				<td>Description</td>
				<td><span class="label label-success">Approved</span></td>
			</tr>
			<tr>
				<td>183</td>
				<td>Shirt</td>
				<td>S01</td>
				<td>Clothes</td>
				<td>Cai</td>
				<td>10</td>
				<td>Description</td>
				<td><span class="label label-success">Approved</span></td>
			</tr>
		</table>
	</div>
</div>


