<div class="wrapper">
    <form id="login" method="GET">
        <div class="input-group">
            <label>Name</label>
            <div class="form-line">
                <input autocomplete="off" type="text" class="form-control" name="name" ng-model="name" autofocus>
            </div>
        </div>
        <div class="input-group">
            <label>Code</label>
            <div class="form-line">
                <input autocomplete="off" type="text" class="form-control" name="code" ng-model="code" autofocus>
            </div>
        </div>
        <div class="input-group">
            <label>Type</label>
            <div class="form-line">
                <input autocomplete="off" type="text" class="form-control" name="type" ng-model="type" autofocus>
            </div>
        </div>
        <div class="input-group">
            <label>Unit</label>
            <div class="form-line">
                <input autocomplete="off" type="text" class="form-control" name="unit" ng-model="unit" autofocus>
            </div>
        </div>
        <div class="input-group">
            <label>Price Per Unit</label>
            <div class="form-line">
                <input autocomplete="off" type="text" class="form-control" name="pricePerUnit" ng-model="pricePerUnit" autofocus>
            </div>
        </div>
        <div class="row m-t-10">
            <div class="col-xs-12">
                <button class="btn btn-block button-default font-20 waves-effect" type="button" ng-click="submit()">SUBMIT</button>
            </div>
        </div>
    </form>
    {{data}}
</div>