<div class="modal-header">
    <h1>Create New Good Type</h1>
</div>
<div class="modal-body">
    <div class="box box-primary">

        <form class="create-form">
            <div class="form-group">
                <label for="typeName" class="control-label">Type's Name</label>
                <div class="input-form">
                    <input type="text" class="" id="typeName"
                           ng-model="typeName" placeholder="Enter type's name ...">
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="control-label">Code</label>
                <div class="input-form">
                    <input type="text" class="" id="code"
                           ng-model="code" placeholder="Enter code ...">
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <div class="input-form">
                    <input type="text" class="" id="description"
                           ng-model="description" placeholder="Enter Description ...">
                </div>
            </div>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="cancel()" class="btn">Cancel</button>
    <button ng-click="save()" class="btn btn-primary">Save</button>
</div>