<div class="modal-header">
    <h1>Edit {{item.name}}</h1>
</div>
<div class="modal-body">
    <div class="box box-primary col-sm-3" style="width: 45%">
        <div class="box-header with-border">
            <h3 class="box-title">Create new good</h3>
        </div>
        <form class="form-horizontal">
            <div class="box-body">

                <div class="form-group">
                    <label for="goodName" class="col-sm-3 control-label">Good's
                        name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="goodName"
                               ng-model="name" placeholder="Enter name ...">
                    </div>
                </div>

                <div class="form-group">
                    <label for="goodType" class="col-sm-3 control-label">Type</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="goodType"
                               ng-model="type" placeholder="Enter type ...">
                    </div>
                </div>

                <div class="form-group">
                    <label for="goodCode" class="col-sm-3 control-label">Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="goodCode"
                               ng-model="code" placeholder="Enter code ...">
                    </div>
                </div>

                <div class="form-group">
                    <label for="goodUnit" class="col-sm-3 control-label">Unit</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="goodUnit"
                               ng-model="unit" placeholder="Enter unit ...">
                    </div>
                </div>

                <div class="form-group">
                    <label for="goodPrice" class="col-sm-3 control-label">Price</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="goodPrice"
                               ng-model="price" placeholder="Enter price ...">
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="save()" class="btn btn-primary" >Save</button>
    <button ng-click="cancel()" class="btn" >Cancel</button>
</div>